.container-menu{
  height: 640px;
  width: 100%;
  background: url('./../../assets/img/backgrounds/menu.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-buttons-products{
  /* border: 1px solid #e83e36; */
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 540px;
}

.button-product{
  background: #e83e36;
  width: 100%;
  text-align: center;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
  position: relative;
}

.button-product:hover{
  text-decoration: none;
  background: #641512;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.7);
}

.button-product::after{
  background: url('./../../assets/img/iconos/manita.png');
  width: 70px;
  height: 70px;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  right: 5%;
  top: 18%;
}