.container-slide{
  overflow: hidden;
  height: 640px;
}

.picsum-img-wrapper{
  /* border: 1px solid red; */
}

.picsum-img-wrapper img{
  width: 100%;
  height: 640px;
  object-position: center;
}

.carousel-control-next-icon {
  background-image: none !important;
}