<div class="container-slide">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- <img [src]="images[0]" alt="Random first slide"> -->
        <img src="./../../assets/img/slide-principal/1.jpg" alt="1">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- <img [src]="images[1]" alt="Random second slide"> -->
        <img src="./../../assets/img/slide-principal/2.jpg" alt="1">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- <img [src]="images[2]"  alt="Random third slide"> -->
        <img src="./../../assets/img/slide-principal/3.jpg" alt="1">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <!-- <img [src]="images[3]" alt="Random fourth slide"> -->
        <img src="./../../assets/img/slide-principal/4.jpg" alt="1">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
